 /* LOCOBOT LANDING PAGE */
 /* SECTION 1 */
 figure.locobot-video2 {
   display: none;
 }

 /* MOBILE */
 @media only screen and (max-width: 736px) {
   figure.locobot-video1 {
     display: none;
   }

   figure.locobot-video2 {
     display: block;
   }
 }

 /* SECTION 2 */
 div.locobot-container2 {
   display: flex;
   justify-content: center;
   background: #ededed;
   margin-bottom: 10px;
 }

 div.locobot-sec2-box1 {
   width: 951.3px;
   padding: 115px 50px 100px 120px;
 }

 h1.locobot-sec2-h1 {
   max-width: 670px;
   text-align: left;
   font-size: 48px;
   color: #1a272d;
   margin-top: 0px;
 }

 div.locobot-sec2-line {
   height: 2px;
   background: #1a272d;
   margin: 10px 290px 15px 0px;
 }

 p.locobot-sec2-p {
   max-width: 670px;
   text-align: justify;
 }

 div.locobot-sec2-box2 {
   padding: 60px 120px 60px 50px;
 }

 iframe.locobot-sec2-video {
   width: 700px;
   height: 380px;
   max-width: 100%;
 }

 /* RESPONSIVE */
 @media only screen and (max-width: 1250px) {
   div.locobot-container2 {
     flex-flow: wrap;
     padding: 40px 80px 20px 80px;
   }

   div.locobot-sec2-box1 {
     padding: 40px 80px 20px 80px;
   }

   h1.locobot-sec2-h1 {
     max-width: 100%;
   }

   p.locobot-sec2-p {
     max-width: 100%;
   }

   div.locobot-sec2-box2 {
     padding: 20px 50px 60px 50px;
   }
 }

 /* TABLET */
 @media only screen and (max-width: 1024px) {
   div.locobot-container2 {
     flex-flow: wrap;
     padding: 40px 0px 20px 0px;
   }

   div.locobot-sec2-box1 {
     padding: 40px 0px 20px 0px;
   }

   div.locobot-sec2-box2 {
     padding: 20px 100px 40px 100px;
   }

   h1.locobot-sec2-h1 {
     text-align: left;
     max-width: 100%;
     margin: 0px 100px 5px 100px;
   }

   div.locobot-sec2-line {
     margin: 10px 400px 15px 100px;
   }

   p.locobot-sec2-p {
     font-size: 15px;
     max-width: 100%;
     margin: 0px 100px 0px 100px;
   }

   iframe.locobot-sec2-video {
     width: 650px;
     height: 340px;
   }
 }

 /* MOBILE */
 @media only screen and (max-width: 736px) {
   div.locobot-container2 {
     padding-top: 0px;
   }

   div.locobot-sec2-box1 {
     padding: 30px 0px 20px 0px;
   }

   div.locobot-sec2-box2 {
     padding: 0px 30px 40px 30px;
   }

   h1.locobot-sec2-h1 {
     font-size: 8.8vw;
     text-align: left;
     margin: 0px 30px 10px 30px;
   }

   div.locobot-sec2-line {
     margin: 10px 200px 15px 30px;
   }

   p.locobot-sec2-p {
     font-size: 14px;
     margin: 0px 30px 0px 30px;
   }

   iframe.locobot-sec2-video {
     width: 420px;
     height: 220px;
   }
 }

 /* SECTION 3 */
 div.locobot-container3 {
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
 }

 div.locobot-sec3-box1 {
   width: 450px;
   padding: 166px 0px 60px 0px;
   margin-left: 120px;
 }

 h1.locobot-sec3-supports2-h1 {
   display: none;
 }

 div.locobot-sec3-line2 {
   display: none;
   height: 2px;
   background: #1a272d;
   margin: 15px 50px 35px 50px;
 }

 figure.locobot-sec3-img1 {
   text-align: center;
   margin: 0px 40px 0px 40px;
 }

 img.locobot-img-src1 {
   width: 200px;
 }

 h1.locobot-sec3-left-h1 {
   font-size: 20px;
   text-align: center;
   color: #1a272d;
   margin: 15px 40px 10px 40px;
 }

 p.locobot-sec3-left-p {
   font-size: 14.5px;
   text-align: center;
   margin: 0px 40px 0px 40px;
 }

 div.locobot-sec3-box2 {
   width: 450px;
   padding: 40px 0px 60px 0px;
 }

 h1.locobot-sec3-supports1-h1 {
   font-size: 60px;
   text-align: center;
   color: #1a272d;
   margin: 0px 0px 0px 0px;
 }

 div.locobot-sec3-line {
   height: 2px;
   background: #1a272d;
   margin: 15px 50px 35px 50px;
 }

 figure.locobot-sec3-img2 {
   text-align: center;
   margin: 42px 40px 0px 40px;
 }

 img.locobot-img-scr2 {
   width: 200px;
 }

 h1.locobot-sec3-middle-h1 {
   text-align: center;
   font-size: 20px;
   color: #1a272d;
   margin: 15px 40px 10px 40px;
 }

 p.locobot-sec3-middle-p {
   font-size: 14.5px;
   text-align: center;
   margin: 0px 40px 0px 40px;
 }

 div.locobot-sec3-box3 {
   width: 450px;
   padding: 169px 0px 60px 0px;
   margin-right: 120px;
 }

 figure.locobot-sec3-img3 {
   text-align: center;
   margin: 0px 40px 0px 40px;
 }

 img.locobot-img-scr3 {
   width: 200px;
 }

 h1.locobot-sec3-right-h1 {
   text-align: center;
   font-size: 20px;
   color: #1a272d;
   margin: 15px 40px 10px 40px;
 }

 p.locobot-sec3-right-p {
   font-size: 14.5px;
   text-align: center;
   margin: 0px 40px 0px 40px;
 }

 /* TABLET */
 @media only screen and (max-width: 1024px) {
   div.locobot-sec3-box1 {
     padding: 131px 0px 40px 0px;
     margin: 0px 0px 0px 80px;
   }

   figure.locobot-sec3-img1 {
     margin: 0px 0px 0px 0px;
   }

   h1.locobot-sec3-left-h1 {
     margin: 15px 0px 10px 0px;
   }

   p.locobot-sec3-left-p {
     font-size: 13.5px;
     margin: 0px 0px 0px 0px;
   }

   h1.locobot-sec3-supports1-h1 {
     font-size: 5vw;
     margin-top: 0px;
   }

   div.locobot-sec3-line {
     margin: 15px 0px 35px 0px;
   }

   div.locobot-sec3-box2 {
     margin: 0px 25px 0px 25px;
     padding: 30px 0px 40px 0px;
   }

   figure.locobot-sec3-img2 {
     margin: 0px 0px 0px 0px;
   }

   h1.locobot-sec3-middle-h1 {
     margin: 15px 0px 10px 0px;
   }

   p.locobot-sec3-middle-p {
     font-size: 13.5px;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec3-box3 {
     margin-right: 80px;
     padding: 134px 0px 40px 0px;
   }

   figure.locobot-sec3-img3 {
     margin: 0px 0px 0px 0px;
   }

   h1.locobot-sec3-right-h1 {
     margin: 15px 0px 10px 0px;
   }

   p.locobot-sec3-right-p {
     font-size: 13.5px;
     margin: 0px 0px 0px 0px;
   }
 }

 /* MOBILE */
 @media only screen and (max-width: 736px) {
   div.locobot-container3 {
     display: block;
     justify-content: center;
     margin-bottom: 10px;
   }

   div.locobot-sec3-box1 {
     width: auto;
     margin: 0px 30px 0px 30px;
     padding: 20px 0px 20px 0px;
   }

   p.locobot-sec3-left-p {
     font-size: 14px;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec3-box2 {
     width: auto;
     margin: 0px 30px 0px 30px;
     padding: 0px 0px 20px 0px;
   }

   p.locobot-sec3-middle-p {
     font-size: 14px;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec3-box3 {
     width: auto;
     margin: 0px 30px 0px 30px;
     padding: 0px 0px 30px 0px;
   }

   p.locobot-sec3-right-p {
     font-size: 14px;
     margin: 0px 0px 0px 0px;
   }

   h1.locobot-sec3-supports1-h1 {
     display: none;
   }

   div.locobot-sec3-line {
     display: none;
   }

   h1.locobot-sec3-supports2-h1 {
     display: block;
     text-align: center;
     font-size: 45px;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec3-line2 {
     display: block;
     margin: 10px 70px 25px 70px;
   }
 }

 /* SECTION 4 */
 div.locobot-container4 {
   display: flex;
   justify-content: center;
   background: #e2f2fb;
   margin-bottom: 10px;
 }

 div.locobot-sec4-box1 {
   width: 951.3px;
   padding: 60px 50px 60px 120px;
 }

 iframe.locobot-sec4-video {
   width: 700px;
   height: 380px;
   max-width: 100%;
 }

 div.locobot-sec4-box2 {
   padding: 100px 120px 60px 50px;
 }

 h1.locobot-sec4-h1 {
   max-width: 670px;
   text-align: left;
   font-size: 50px;
   color: #1a272d;
   margin-top: 0px;
 }

 div.locobot-sec4-line {
   height: 2px;
   background: #1a272d;
   margin: 10px 290px 15px 0px;
 }

 p.locobot-sec4-p {
   max-width: 670px;
   text-align: justify;
 }

 iframe.locobot-sec4-img-src {
  width: 700px;
  height: 380px;
  max-width: 100%;
 }

 /* RESPONSIVE */
 @media only screen and (max-width: 1250px) {
   div.locobot-container4 {
     flex-flow: wrap-reverse;
   }

   div.locobot-sec4-box2 {
     width: 951.3px;
     padding: 40px 50px 20px 50px;
   }

   div.locobot-sec4-box1 {
     text-align: center;
     padding: 20px 80px 60px 80px;
   }

   h1.locobot-sec4-h1 {
     max-width: 100%;
   }

   p.locobot-sec4-p {
     max-width: 100%;
   }
 }

 /* TABLET */
 @media only screen and (max-width: 1024px) {
   div.locobot-container4 {
     flex-flow: wrap-reverse;
   }

   div.locobot-sec4-box1 {
     padding: 20px 100px 40px 100px;
   }

   iframe.locobot-sec4-img {
    width: 650px;
    height: 340px;
     text-align: center;
   }

   iframe.locobot-sec4-video {
     width: 650px;
     height: 340px;
   }

   div.locobot-sec4-box2 {
     padding: 40px 100px 20px 100px;
   }

   h1.locobot-sec4-h1 {
     text-align: left;
     max-width: 100%;
     font-size: 51px;
   }

   div.locobot-sec4-line {
     margin: 10px 400px 15px 0px;
   }

   p.locobot-sec4-p {
     font-size: 15px;
     max-width: 100%;
     margin-bottom: 0px;
   }
 }

 /* MOBILE */
 @media only screen and (max-width: 887px) {
   iframe.locobot-sec4-img-src {
    width: 650px;
    height: 340px;
   }
 }

 /* MOBILE */
 @media only screen and (max-width: 736px) {
   div.locobot-sec4-box1 {
     padding: 0px 30px 40px 30px;
   }

   iframe.locobot-sec4-video {
     width: 420px;
     height: 220px;
   }

   div.locobot-sec4-box2 {
     padding: 30px 30px 20px 30px;
   }

   h1.locobot-sec4-h1 {
     font-size: 39px;
     text-align: left;
   }

   div.locobot-sec4-line {
     margin: 10px 200px 15px 0px;
   }

   p.locobot-sec4-p {
     font-size: 14px;
   }

   iframe.locobot-sec4-img-src {
    width: 420px;
    height: 220px;
   }
 }

 /* SECTION 5 */
 div.locobot-container5 {
   display: flex;
   justify-content: center;
   background: #ededed;
   margin-bottom: 10px;
 }

 div.locobot-sec5-box1 {
   width: 951.3px;
   padding: 80px 50px 80px 120px;
 }

 h1.locobot-sec5-h1 {
   max-width: 670px;
   text-align: left;
   font-size: 64px;
   color: #1a272d;
   margin-top: 0px;
 }

 div.locobot-sec5-line {
   height: 2px;
   background: #1a272d;
   margin: 10px 290px 15px 0px;
 }

 p.locobot-sec5-p {
   max-width: 670px;
   text-align: justify;
   margin-bottom: 20px;
 }

 a.locobot-sec5-link {
   margin: 0px 120px 0px 0px;
 }

 div.locobot-sec5-box2 {
   width: 555px;
   margin-left: 100px;
   margin-right: 120px;
   padding: 80px 0px 60px 0px;
 }

 img.locobot-sec5-img-src {
   width: 100%;
 }

 /* RESPONSIVE */
 @media only screen and (max-width: 1250px) {
   div.locobot-container5 {
     flex-flow: wrap;
   }

   div.locobot-sec5-box1 {
     width: 951.3px;
     padding: 40px 50px 20px 50px;
   }

   h1.locobot-sec5-h1 {
     max-width: 100%;
     font-size: 61px;
   }

   p.locobot-sec5-p {
     max-width: 100%;
   }

   div.locobot-sec5-box2 {
     padding: 20px 0px 20px 0px;
   }
 }

 /* TABLET */
 @media only screen and (max-width: 1024px) {
   div.locobot-container5 {
     flex-flow: wrap;
   }

   div.locobot-sec5-box1 {
     padding: 40px 0px 20px 0px;
   }

   img.locobot-sec5-img-src {
     width: 700px;
   }

   div.locobot-sec5-box2 {
     margin: 0px 100px 0px 100px;
     padding: 0px 0px 30px 0px;
   }

   h1.locobot-sec5-h1 {
     text-align: left;
     max-width: 100%;
     margin: 0px 100px 5px 100px;
     font-size: 48px;
   }

   div.locobot-sec5-line {
     margin: 10px 400px 15px 100px;
   }

   p.locobot-sec5-p {
     font-size: 15px;
     max-width: 100%;
     margin: 0px 100px 10px 100px;
   }

   a.locobot-sec5-link {
     margin: 0px 100px 0px 100px;
   }
 }

 /* MOBILE */
 @media only screen and (max-width: 736px) {
   div.locobot-sec5-box1 {
     padding: 30px 0px 20px 0px;
   }

   div.locobot-sec5-box2 {
     margin: 0px 50px 0px 50px;
     padding: 0px 0px 20px 0px;
   }

   h1.locobot-sec5-h1 {
     font-size: 8vw;
     text-align: left;
     margin: 0px 30px 10px 30px;
   }

   div.locobot-sec5-line {
     margin: 10px 200px 15px 30px;
   }

   p.locobot-sec5-p {
     font-size: 14px;
     margin: 0px 30px 10px 30px;
   }

   a.locobot-sec5-link {
     margin: 0px 30px 0px 30px;
   }
 }

 /* SECTION 6 */
 h1.locobot-sec6-h1 {
   font-size: 60px;
   text-align: center;
   color: #1a272d;
   margin: 40px 0px 0px 0px;
 }

 div.locobot-sec6-line {
   height: 2px;
   background: #1a272d;
   margin: 15px 740px 10px 740px;
 }

 p.locobot-sec6-top-middle-p {
   font-size: 17.5px;
   text-align: center;
   margin: 0px 120px 40px 120px;
 }

 div.locobot-container6 {
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
 }

 div.locobot-sec6-box1 {
   width: 450px;
   padding: 0px 0px 40px 0px;
   margin-left: 120px;
 }

 figure.locobot-sec6-img1 {
   text-align: center;
   margin-bottom: 20px;
 }

 img.locobot-sec6-img-src1 {
   width: 325px;
   transform: scaleX(1);
 }

 h1.locobot-sec6-l1-h1 {
   font-size: 20px;
   text-align: center;
   color: #1a272d;
   margin: 0px 40px 10px 40px;
 }

 p.locobot-sec6-l1-p {
   font-size: 14.5px;
   text-align: center;
   margin: 0px 40px 0px 40px;
 }

 div.locobot-sec6-box2 {
   width: 450px;
   padding: 0px 0px 40px 0px;
 }

 figure.locobot-sec6-img2 {
   text-align: center;
   margin-bottom: 20px;
 }

 img.locobot-sec6-img-src2 {
   /* transform: scaleX(-1); */
   width: 325px;
 }

 h1.locobot-sec6-l2-h1 {
   text-align: center;
   font-size: 20px;
   color: #1a272d;
   margin: 0px 40px 10px 40px;
 }

 p.locobot-sec6-l2-p {
   font-size: 14.5px;
   text-align: center;
   margin: 0px 40px 0px 40px;
 }

 div.locobot-sec6-box3 {
   width: 450px;
   padding: 0px 0px 40px 0px;
 }

 figure.locobot-sec6-img3 {
   text-align: center;
   margin-bottom: 20px;
 }

 img.locobot-sec6-img-src3 {
   width: 325px;
 }

 h1.locobot-sec6-r1-h1 {
   text-align: center;
   font-size: 20px;
   color: #1a272d;
   margin: 0px 40px 10px 40px;
 }

 p.locobot-sec6-r1-p {
   font-size: 14.5px;
   text-align: center;
   margin: 0px 40px 0px 40px;
 }

 div.locobot-sec6-box4 {
   width: 450px;
   padding: 0px 0px 40px 0px;
   margin-right: 120px;
 }

 figure.locobot-sec6-img4 {
   text-align: center;
   margin-bottom: 20px;
 }

 img.locobot-sec6-img-src4 {
   transform: scaleX(-1);
   width: 325px;
 }

 h1.locobot-sec6-r2-h1 {
   text-align: center;
   font-size: 20px;
   color: #1a272d;
   margin: 0px 40px 10px 40px;
 }

 p.locobot-sec6-r2-p {
   font-size: 14.5px;
   text-align: center;
   margin: 0px 40px 0px 40px;
 }

 /* Fixes line issue */
 @media only screen and (max-width: 1675px) {
   div.locobot-sec6-line {
     margin: 15px 640px 10px 640px;
   }
 }

 /* Fixes line issue */
 @media only screen and (max-width: 1455px) {
   div.locobot-sec6-line {
     margin: 15px 540px 10px 540px;
   }
 }

 /* EDIT */
 @media only screen and (max-width: 1250px) {
   div.locobot-sec6-box1 {
     margin-left: 80px;
   }

   div.locobot-sec6-box4 {
     margin-right: 80px;
   }
 }

 /* Fixes line issue */
 @media only screen and (max-width: 1200px) {
   div.locobot-sec6-line {
     margin: 15px 340px 10px 340px;
   }
 }

 /* TABLET */
 @media only screen and (max-width: 1024px) {
   div.locobot-sec6-box1 {
     padding: 0px 0px 40px 0px;
     margin: 0px 0px 0px 80px;
   }

   p.locobot-sec6-top-middle-p {
     font-size: 16.5px;
   }

   h1.locobot-sec6-h1 {
     font-size: 5vw;
     margin-top: 40px;
   }

   figure.locobot-sec6-img1 {
     margin: 0px 0px 0px 0px;
   }

   h1.locobot-sec6-l1-h1 {
     margin: 15px 0px 10px 0px;
   }

   p.locobot-sec6-l1-p {
     font-size: 13.5px;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec6-box2 {
     margin: 0px 12.5px 0px 25px;
     padding: 0px 0px 40px 0px;
   }

   figure.locobot-sec6-img2 {
     margin: 0px 0px 0px 0px;
   }

   h1.locobot-sec6-l2-h1 {
     margin: 15px 0px 10px 0px;
   }

   p.locobot-sec6-l2-p {
     font-size: 13.5px;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec6-box3 {
     margin: 0px 25px 0px 12.5px;
     padding: 0px 0px 40px 0px;
   }

   figure.locobot-sec6-img3 {
     margin: 0px 0px 0px 0px;
   }

   h1.locobot-sec6-r1-h1 {
     margin: 15px 0px 10px 0px;
   }

   p.locobot-sec6-r1-p {
     font-size: 13.5px;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec6-box4 {
     margin-right: 80px;
     padding: 0px 0px 40px 0px;
   }

   figure.locobot-sec6-img4 {
     margin: 0px 0px 0px 0px;
   }

   h1.locobot-sec6-r2-h1 {
     margin: 15px 0px 10px 0px;
   }

   p.locobot-sec6-r2-p {
     font-size: 13.5px;
     margin: 0px 0px 0px 0px;
   }
 }

 /* MOBILE */
 @media only screen and (max-width: 736px) {
   div.locobot-container6 {
     display: block;
     justify-content: center;
     margin-bottom: 10px;
   }

   div.locobot-sec6-box1 {
     width: auto;
     margin: 0px 30px 0px 30px;
     padding: 0px 0px 20px 0px;
   }

   p.locobot-sec6-top-middle-p {
     font-size: 15.5px;
     margin: 0px 30px 40px 30px;
   }

   h1.locobot-sec6-l1-h1 {
     margin-top: 0px;
   }

   p.locobot-sec6-l1-p {
     font-size: 14px;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec6-box2 {
     width: auto;
     margin: 0px 30px 0px 30px;
     padding: 0px 0px 20px 0px;
   }

   h1.locobot-sec6-l2-h1 {
     margin-top: 0px;
   }

   p.locobot-sec6-l2-p {
     font-size: 14px;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec6-box3 {
     width: auto;
     margin: 0px 30px 0px 30px;
     padding: 0px 0px 20px 0px;
   }

   h1.locobot-sec6-r1-h1 {
     margin-top: 0px;
   }

   p.locobot-sec6-r1-p {
     font-size: 14px;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec6-box4 {
     width: auto;
     margin: 0px 30px 0px 30px;
     padding: 0px 0px 30px 0px;
   }

   p.locobot-sec6-r2-p {
     font-size: 14px;
     margin: 0px 0px 0px 0px;
   }

   h1.locobot-sec6-h1 {
     display: block;
     text-align: center;
     font-size: 45px;
     margin: 30px 0px 0px 0px;
   }

   div.locobot-sec6-line {
     display: block;
     margin: 10px 150px 10px 150px;
   }
 }

 /* SECTION 7 */
 div.locobot-container7 {
   justify-content: center;
   background: #ededed;
   margin-bottom: 10px;
 }

 div.locobot-sec7-box1 {
   padding: 40px 0px 20px 0px;
 }

 h1.locobot-sec7-h1 {
   font-size: 62px;
   text-align: center;
   color: #1a272d;
   margin: 0px 120px 0px 120px;
 }

 div.locobot-sec7-line {
   height: 2px;
   background: #1a272d;
   margin: 15px 740px 10px 740px;
 }

 p.locobot-sec7-p {
   font-size: 23px;
   text-align: center;
 }

 div.locobot-sec7-links {
   display: flex;
   flex-flow: column;
   margin-left: 120px;
   margin-right: 120px;
 }

 div.locobot-sec7-box2 {
   display: flex;
   justify-content: center;
   padding-bottom: 60px;
 }

 /* div.laptop-flex {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
} */

 /* div.laptop-flex2 {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
} */

 figure.laptop-size {
   max-width: 520px;
 }

 figure.laptop-size2 {
   max-width: 520px;
 }

 /* RESPONSIVE */
 @media only screen and (max-width: 1625px) {
   div.locobot-sec7-line {
     margin: 15px 505px 10px 505px;
   }
 }

 /* SIZE */
 @media only screen and (max-width: 1250px) {
   div.locobot-sec7-line {
     margin: 15px 375px 10px 375px;
   }
 }

 /* TABLET */
 @media only screen and (max-width: 1024px) {
   div.locobot-sec7-box1 {
     padding: 40px 0px 20px 0px;
   }

   h1.locobot-sec7-h1 {
     font-size: 5vw;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec7-line {
     width: auto;
     margin: 10px 300px 15px 300px;
   }

   p.locobot-sec7-p {
     font-size: 17.5px;
   }

   div.locobot-sec7-box2 {
     padding: 20px 0px 60px 0px;
   }
 }

 /* MOBILE */
 @media only screen and (max-width: 736px) {
   div.locobot-container7 {
     flex-flow: wrap;
   }

   div.locobot-sec7-box1 {
     padding: 30px 30px 20px 30px;
   }

   h1.locobot-sec7-h1 {
     font-size: 38px;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec7-line {
     margin: 0px 130px 0px 130px;
   }

   p.locobot-sec7-p {
     font-size: 14px;
     margin: 0px 0px 0px 0px;
   }

   div.locobot-sec7-box2 {
     padding: 10px 0px 40px 0px;
     margin: 0px 30px 0px 30px;
   }

   div.locobot-sec7-links {
    margin-left: auto;
    margin-right: auto;
  }
 }

 /* SECTION 8 */
 div.locobot-container8 {
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
   background: #e2f2fb;
 }

 div.locobot-sec8-box1 {
   margin-left: 120px;
   padding-top: 40px;
 }

 figure.locobot-sec8-img {
   max-width: 500px;
 }

 img.locobot-sec8-img-src {
   width: 100%;
 }

 div.locobot-sec8-box2 {
   width: 951.3px;
   padding: 80px 0px 60px 0px;
 }

 h1.locobot-sec8-h1 {
   font-size: 55px;
   color: #1a272d;
   margin: 0px 120px 0px 120px;
 }

 div.locobot-sec8-line {
   height: 2px;
   background: #1a272d;
   margin: 10px 400px 15px 120px;
 }

 p.locobot-sec8-p {
   text-align: justify;
   margin: 0px 120px 20px 120px;
 }

 /* EDIT */
 @media only screen and (max-width: 1250px) {
   div.locobot-container8 {
     flex-flow: wrap-reverse;
   }

   div.locobot-sec8-box2 {
     padding: 40px 0px 00px 0px;
   }

   div.locobot-sec8-box1 {
     margin-left: 0px;
     padding-top: 20px;
   }

   h1.locobot-sec8-h1 {
     font-size: 55px;
   }
 }

 /* TABLET */
 @media only screen and (max-width: 1024px) {
   div.locobot-sec8-box1 {
     margin-left: 0px;
     padding: 0px 0px 0px 0px;
   }

   img.locobot-sec8-img-src {
     width: 700px;
   }

   div.locobot-sec8-box2 {
     width: 951.3px;
     padding: 40px 0px 0px 0px;
   }

   h1.locobot-sec8-h1 {
     font-size: 49px;
     text-align: left;
     margin: 0px 100px 0px 100px;
   }

   div.locobot-sec8-line {
     width: auto;
     margin: 10px 420px 15px 100px;
   }

   p.locobot-sec8-p {
     font-size: 15px;
     margin: 0px 100px 10px 100px;
   }

   figure.locobot-sec8-img {
     max-width: 450px;
   }
 }

 /* MOBILE */
 @media only screen and (max-width: 736px) {
   div.locobot-sec8-box1 {
     margin-left: 0px;
     padding: 0px 10px 5px 10px;
   }

   div.locobot-sec8-box2 {
     padding: 20px 0px 5px 0px;
   }

   h1.locobot-sec8-h1 {
     font-size: 40px;
     text-align: left;
     margin: 0px 30px 0px 30px;
   }

   div.locobot-sec8-line {
     width: auto;
     margin: 5px 150px 15px 30px;
   }

   p.locobot-sec8-p {
     font-size: 14px;
     margin: 0px 30px 10px 30px;
   }

   figure.locobot-sec8-img {
     max-width: 350px;
     margin: 0px 30px 0px 30px;
   }
 }

 /* SECTION 9 */
 div.locobot-container9 {
   display: flex;
   justify-content: center;
   padding: 40px 0px 25px 0px;
 }

 div.locobot-sec9-box1 {
   width: 100%;
   max-width: 1200px;
   margin: 0px 40px 0px 40px;
 }

 h1.locobot-sec9-h1 {
   font-size: 62px;
   text-align: center;
   color: #1a272d;
   margin: 0px 0px 0px 0px;
 }

 div.locobot-sec9-line {
   height: 2px;
   background: #1a272d;
   margin: 15px 450px 30px 450px;
 }

 table.locobot-sec9-table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }

 th.table-blank-square {
   width: 135px;
 }

 h1.locobot-sec9-models1,
 h1.locobot-sec9-models2,
 h1.locobot-sec9-models3,
 h1.locobot-sec9-models4 {
   font-size: 17px;
   text-align: center;
   color: #1a272d;
 }

 /*
div.unitree-links-box {
  display: flex;
  flex-flow: column;
  text-align: left;
} */

 a.locobot-sec9-link-all {
   margin-bottom: 5px;
 }

 td,
 th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
 }

 /* Color of table */
 tr:nth-child(even) {
   background-color: #dddddd;
 }

 /* Responsive fix */
 @media only screen and (max-width: 1176px) {
   div.locobot-container9 {
     flex-wrap: wrap;
   }
 }

 /* TABLET */
 @media only screen and (max-width: 1024px) {
   div.locobot-container9 {
     padding-bottom: 40px;
     flex-flow: wrap;
   }

   div.locobot-sec9-box1 {
     margin: 0px 40px 0px 40px;
   }

   h1.locobot-sec9-h1 {
     font-size: 6vw;
   }

   div.locobot-sec9-line {
     width: auto;
     margin: 10px 300px 20px 300px;
   }

   a.locobot-sec9-link-all {
     font-size: 2vw;
   }

   a.locobot-sec9-link2-all {
     font-size: 2vw;
   }

   td,
   th {
     font-size: 15px;
   }
 }

 /* MOBILE */
 @media only screen and (max-width: 736px) {
   div.locobot-container9 {
     flex-wrap: wrap;
     padding: 20px 0px 0px 0px;
     margin-bottom: 20px;
     margin-left: 30px;
     margin-right: 30px;
   }

   div.locobot-sec9-box1 {
     margin: 0px 0px 0px 0px;
   }

   th.table-blank-square {
     width: auto;
   }

   td,
   th {
     font-size: 11px;
     padding: 5px;
     width: 100px;
   }

   h1.locobot-sec9-h1 {
     font-size: 45px;
     padding: 0px 0px 0px 0px;
   }

   div.locobot-sec9-line {
     margin: 5px 150px 15px 150px;
   }

   a.locobot-sec9-link-all {
     font-size: 10px;
     margin: 5px 0px 0px 0px;
   }

   a.locobot-sec9-link2-all {
     font-size: 10px;
   }
 }

 /* SECTION 10 */
 div.locobot-container10 {
   display: flex;
   margin-top: 40px;
   justify-content: center;
   background: #ededed;
 }

 div.locobot-left-wrap {
   flex-wrap: wrap;
   width: 1100px;
   background: #ededed;
 }

 h1.locobot-questions {
   font-size: 3.5vw;
   color: #1a272d;
 }

 div.locobot-line {
   height: 2px;
   background: #1a272d;
   margin: 10px 215px 15px 0px;
 }

 div.unitree-contact-box2 {
   width: 100%;
   height: 50px;
   background: #ededed;
 }

 img.unitree-contact-img2 {
   /* transform: scaleX(-1); */
   width: 408px;
 }

 /* Contact form field edits */
 div#ctl45_dvControl {
   margin-top: 0px;
 }

 /* Edits the text area for the contact form */
 input#ctl45_ctlContactForm_rpFormField_ctl00_txtField,
 input#ctl45_ctlContactForm_rpFormField_ctl01_txtField,
 input#ctl45_ctlContactForm_rpFormField_ctl02_txtField,
 input#ctl45_ctlContactForm_rpFormField_ctl03_txtField,
 input#ctl45_ctlContactForm_rpFormField_ctl04_txtField,
 input#ctl45_ctlContactForm_rpFormField_ctl05_txtField {
   width: 100%;
   padding: 12px;
   border: 1px solid #333333;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 10px;
   resize: vertical;
 }

 /* Color of border on hover */
 input#ctl45_ctlContactForm_rpFormField_ctl00_txtField:hover,
 input#ctl45_ctlContactForm_rpFormField_ctl01_txtField:hover,
 input#ctl45_ctlContactForm_rpFormField_ctl02_txtField:hover,
 input#ctl45_ctlContactForm_rpFormField_ctl03_txtField:hover,
 input#ctl45_ctlContactForm_rpFormField_ctl04_txtField:hover,
 input#ctl45_ctlContactForm_rpFormField_ctl05_txtField:hover {
   border: 1px solid #007cc4;
 }

 /* Makes message box longer */
 input#ctl45_ctlContactForm_rpFormField_ctl05_txtField {
   padding-bottom: 120px;
 }

 /* Style the submit button with a specific background color etc */
 input#ctl45_ctlContactForm_btnSubmit {
   background-color: #007cc4;
   color: white;
   padding: 15px 50px;
   margin-top: 0px;
   border: none;
   cursor: pointer;
 }

 /* When moving the mouse over the submit button, add a darker green color */
 input#ctl45_ctlContactForm_btnSubmit:hover {
   background-color: white;
   color: #007cc4;
 }

 /* Closes gap between title text & name section */
 div#ctl45_dvControl.Control.ContactForm.Control_12777 {
   margin-top: 0px;
 }

 input#ctl45_ctlContactForm_rpFormField_ctl06_rblFields_1 {
   margin-left: 15px;
 }

 figure.unitree-secondimg-background {
   background: #ededed;
 }


 /* DESKTOP */
 @media only screen and (max-width: 2565px) {
   div.locobot-left-wrap {
     width: auto;
   }

   img.locobot-banner {
     width: 1430px;
   }

   div.contact-info {
     max-width: 1135px;
   }

   figure.unitree-secondimg-background {
     width: 530px;
   }

   img.unitree-contact-img2 {
     width: 100%;
   }
 }

 /* TABLET */
 @media only screen and (max-width: 1024px) {
   div.locobot-container10 {
     flex-flow: wrap;
     justify-content: center;
     margin-top: 0px;
   }

   h1.locobot-questions {
     font-size: 60px;
   }

   div.locobot-line {
     margin: 10px 326px 15px 0px;
   }

   img.unitree-contact-img2 {
     display: none;
   }
 }

 /* MOBILE */
 @media only screen and (max-width: 736px) {
   div.locobot-container10 {
     flex-flow: wrap;
     margin-bottom: 0PX;
   }

   div.contact-info {
     padding: 35px 30px 30px 30px;
   }

   h1.locobot-questions {
     font-size: 44px;
     margin-top: 0px;
   }

   div.locobot-line {
     margin: 10px 165px 15px 0px;
   }

   input#ctl45_ctlContactForm_rpFormField_ctl00_txtField,
   input#ctl45_ctlContactForm_rpFormField_ctl01_txtField,
   input#ctl45_ctlContactForm_rpFormField_ctl02_txtField,
   input#ctl45_ctlContactForm_rpFormField_ctl03_txtField,
   input#ctl45_ctlContactForm_rpFormField_ctl04_txtField,
   input#ctl45_ctlContactForm_rpFormField_ctl05_txtField {
     padding: 10px;
     margin-top: 1px;
     margin-bottom: 0px;
   }
 }