/* LoCoBot */
.locobot-flex_all_items {
    display: flex;
}

/* Border color on hover */
div.locobot-border-hover1 {
    border: 5px solid transparent;
}

div.locobot-border-hover1:hover {
    outline: 5px solid #02abe9;
}

div.locobot-border-hover2 {
    border: 5px solid transparent;
}

div.locobot-border-hover2:hover {
    outline: 5px solid #02abe9;
}

div.locobot-border-hover3 {
    border: 5px solid transparent;
}

div.locobot-border-hover3:hover {
    outline: 5px solid #02abe9;
}

div.locobot-border-hover4 {
    border: 5px solid #02abe9;
}

div.locobot-border-hover4:hover {
    outline: 5px solid transparent;
}

h1.specifications {
    color: #02abe9;
    font-weight: 600;
    font-size: 22px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* This will remove the bullet points */
ul.left-list {
    list-style-type: none;
}

/* This will remove the bullet points */
ul.right-list {
    list-style-type: none;
    pointer-events: none;
    cursor: default;
}

/* This will place both lists next to each other */
element.specifications {
    display: flex;
}

/* .first img & spec {
    position: absolute;
  }
  
  .second img & spec {
    position: absolute;
  }

  .third img & spec {
    position: absolute;
  }

  .fourth img & spec {
    position: absolute;
  } */

/* This will create the line */
h2.line {
    border-left: 1.8px solid black;
    height: 150px;
}

/*This is the mobile version*/
@media (max-width: 667px) {
    div.flex_all_items {
        max-width: 380px;
        display: inline-block;
        text-align: left;
    }
}